<% if false %>
<%= form_for(@restaurant) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :rating %>
  <%= f.number_field :rating %>
  <%= f.submit %>
<% end %>
<% end %>

<% if false %>
<div class="container" pt-5>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 col-sm-4">
      <%= form_for(@restaurant) do |f| %>
        <div class="col-12 mb-3"><%= f.label :name %></div>
        <div class="col-12 mb-3"><%= f.text_field :name %></div>
        <div class="col-12 mb-3"><%= f.label :address %></div>
        <div class="col-12 mb-3"><%= f.text_field :address %></div>
        <div class="col-12 mb-3"><%= f.label :rating %></div>
        <div class="col-12 mb-3"><%= f.number_field :rating %></div>
        <%= f.submit %>
        <%# <%= f.submit class: 'btn btn-primary', value: 'Nuevo Restaurante' %>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<div class="container" >
  <div class="row justify-content-left">
    <div class="col-12 col-lg-6 col-md-4">
      <%= simple_form_for(@restaurant) do |f| %>

        <%= f.input :name %>

        <%= f.input :address %>

        <%= f.input :rating %>
        <%= f.button :submit, class: "btn-primary col-12 btn-lg w-100", value: "Crear Restaurante" %>
        <%# <%= f.submit class: 'btn btn-primary', value: 'Nuevo Restaurante' %>
      <% end %>
    </div>
  </div>
</div>