<!DOCTYPE html>
<html>
  <head>
    <title>La Cuchara</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container pt-5">
      <div>
        <h1>Mis Restaurantes</h1>
      </div>
      <div class="row">
        <div class="col-sm-5 col-sm-offset-0 col-md-6 col-md-offset-0">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
